<% include ../partials/header %>

<div class="container">
    <div class="row text-center">
            <h1 class="col-12">Edit the comment</h1>
            <div style="width: 350px;margin: 0 auto;">
                    <form action="/campgrounds/<%= campground_id%>/comments/<%= comment._id%>?_method=PUT" method="POST">
                
                        
                        <br>

                        <input type="hidden" name="comment[commentDate]" value="<%= new Date().toLocaleString() %>">

                        <input type="number" name="comment[rating]" class="form-control" placeholder="Give a rating out of 5" min="0.00" step="0.50" max="5.00">
                        <br>

                        <textarea  name="comment[text]" class="form-control" autocomplete="off"><%= comment.text  %></textarea>
                        <br>

                        <button class="btn-block btn-lg btn-primary">Submit</button>
                        
                    </form>
                    
            </div>
            <a href="../"  class=" col-12 mt-3">Go back</a>
    </div>
    
</div>



<br><br>


<% include ../partials/footer %>